.container{
    overflow: hidden;
}


.main {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
}

.users{
    min-width: 20%;
    margin-right: 1rem;
}

.wall{
    width: 77%;
}

/* MEDIA QUERY */
@media screen and (max-width: 768px) {
    .main {
        flex-wrap: wrap;
    }
    .users{
        min-width: 100%;
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .wall{
        width: 100%;
    }
}