@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  background-color: rgb(27, 40, 54);
  color: white;
  font-family: 'Roboto', sans-serif;
}

button{
  transition: .3s
}

button:hover{
  opacity: 0.8
}